<ion-list>
  <ion-radio-group [value]="sort" allowEmptySelection="true" (ionChange)="onSort($event)">
    <ion-item-divider>
      <ion-label>
        Sort By
      </ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Ascending</ion-label>
      <ion-radio slot="start" value="asce"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Descending</ion-label>
      <ion-radio slot="start" value="desc"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-radio-group [value]="filter" allowEmptySelection="true" (ionChange)="onFilter($event)">
    <ion-item-divider>
      <ion-label>
        Filter By
      </ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>CSS 1</ion-label>
      <ion-radio slot="start" value="1"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>CSS 2</ion-label>
      <ion-radio slot="start" value="2"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>CSS 3</ion-label>
      <ion-radio slot="start" value="3"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
