ion-content {
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
  > p {
    margin-bottom: 14px;
  }
}

p {
  margin: 0;
}
.property-def{
  width: 100%;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  margin: 15px 0;
  color: #fff;
  .selector{
    color: #fff0bb;
  }
  .splChara{
    color: #fff;
  }
  .value{
    color: var(--ion-color-orange);
  }
  .comment{
    color: rgba(255,255,255,0.6);
  }
  .prop{
    color: #baa5fb;
  }
}
.pg-box{
  &.blockLevel{
    display: block;
  }
  &.center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pg-child-text-1{
    background: linear-gradient(to bottom right, #ff0, green);
    box-shadow: 8px 8px 10px 0 #ff1493, -5px -5px 5px 0 #00f, 5px 5px 15px 0 #ff0;
    padding: 0 1em;
    border-radius: 16px;
    border-style: solid;
    margin-left: 40px;
    line-height: 2.5;
    max-width: 100px;
  }
  .pg-child-list{
    margin: 0;
    padding: 0;
    border: 1px solid;
    li{
      padding: 3px;
    }
  }
  .pg-child-para{
    padding: 15px;
  }
  .pg-child-img{
    width: 50%;
  }
  .pg-child-1{
    width: 60%;
    height: 130px;
    background: white;
  }
  .pg-child-table{
    width: 70%;
    caption{
      padding: 5px;
    }
    td,th{
      height: 35px;
      text-align: center;
      vertical-align: middle;
      background: #90adcc;
      border: 1px solid;
    }
  }
}
.browser-support {
  .container {
    display: flex;
    justify-content: center;
  }

  .browser-slot {
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    max-width: 70px;
    color: var(--ion-color-success);
    img {
      border: 2px solid var(--ion-color-success);
      border-radius: 5px;
      padding: 4px;
      margin-bottom: 10px;
      background: rgba(var(--ion-color-success-rgb), 0.2);
    }
    &.unsupported{
      color: var(--ion-color-danger);
      img{
        border-color: var(--ion-color-danger);
        background: rgba(var(--ion-color-danger-rgb), 0.2);
      }
    }
  }
}
