/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header ion-toolbar{
  --background: var(--ion-color-orange);
  --color: var(--ion-color-dark-contrast)
}
body.dark{
  .prop-table .prop-desc{
    background: var(--ion-toolbar-background) !important;
  }
  .prop-table .prop-value{
    background: #313131 !important;
  }
}
p{
  line-height: 1.43;
  font-size: 15px;
}
h4{
  font-size: 17px;
  font-weight: bold;
  color: var(--ion-color-violet);
}
.txt-center{
  text-align: center;
}
.pg-box{
  width: 85%;
  height: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 20px auto 15px;
  display: flex;
  position: relative;
  overflow: hidden;
  background: #fff0bb;
}
.code-ide{
  width: 100%;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  margin: 15px 0;
  color: #fff0bb;
  line-height: 1.5;
  white-space: pre;
  tab-size: 2;
  font-size: 15px;
  overflow-x: auto;
  font-family: monospace, monospace;
  .splChara{
    color: #fff;
  }
  .value{
    color: var(--ion-color-orange);
  }
  .comment{
    color: rgba(255,255,255,0.6);
  }
  .prop{
    color: #baa5fb;
  }
}
