<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CSS MAMA</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="filter($event)">
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showBar">
    <ion-searchbar placeholder="Search" (ionInput)="searchList($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="!searchFlag">
  <ion-list *ngFor="let group of cssGroup">
    <ion-list-header lines="none" color="dark">
      <ion-label>{{group.group}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let i of group.value" (click)="openProperty(cssData[i])" lines="none">
      <ion-label>{{ cssData[i].prop }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content *ngIf="searchFlag">
  <ion-list *ngIf="searchData.length > 0">
    <p style="padding: 15px; margin: 0;" *ngIf="sortValue || filterValue">
      <ion-chip outline color="dark" *ngIf="sortValue && sortValue === 'asce'">
        <ion-icon name="trending-up-outline"></ion-icon>
        <ion-label>Ascending</ion-label>
        <ion-icon name="close-circle" (click)="resetSort()"></ion-icon>
      </ion-chip>
      <ion-chip outline color="dark" *ngIf="sortValue && sortValue === 'desc'">
        <ion-icon name="trending-down-outline"></ion-icon>
        <ion-label>Descending</ion-label>
        <ion-icon name="close-circle" (click)="resetSort()"></ion-icon>
      </ion-chip>
      <ion-chip outline color="dark" *ngIf="filterValue">
        <ion-icon name="logo-css3"></ion-icon>
        <ion-label>CSS {{filterValue}}</ion-label>
        <ion-icon name="close-circle" (click)="resetFilter()"></ion-icon>
      </ion-chip>
    </p>
    <ion-list-header lines="none" color="dark">Showing {{searchData.length}} results of {{cssPropList.length}}</ion-list-header>
    <ion-item *ngFor="let i of searchData" (click)="openProperty(i)" lines="none">
      <ion-label>{{ i.prop }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
